[user]
	name = samshadwell
	email = git@samshadwell.com
[push]
	default = current
[core]
  pager = delta
	editor = nvim

[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	next = stack next
	prev = stack previous
	reword = stack reword
	amend = stack amend
	sync = stack sync
	run = stack run
